__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Model Files
*.pkl

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env